.depname{
    background-color: rgba(230, 169, 15, 0.599);
    border-radius: 10px;
    text-align: justify;
}
.article_title{
    text-align: center;
}

.article_by{
    text-align: right;
}
/* .depname{
    background-color: rgba(230, 169, 15, 0.599);
    border:None;
    border-radius: 10px;
    margin-left:150px;
    margin-bottom: 10px;
}

.article_title{
    margin-top:10px;
}


.article_title a{
    font-size:20px;
    color: rgba(16, 131, 219, 0.935);
} */

.logo_box{
    /* background-color: red; */
}
.count{
    font-size: 10;
    /* background-color: blue; */
    font-weight: bold;
}