.login_form_class{
    background-color: rgba(230, 169, 15, 0.599);
    border-radius: 10px;
    border-color:black;
    border:2px;
    margin:100px 400px 200px 500px;
    padding: 40px 20px 40px 20px;
}

.form-group{
    /* background-color: blue; */

}

.btn-default{
    margin-left: 180px; 
}