.depname {

    background-color: rgba(230, 169, 15, 0.599);
    border-radius: 10px;
    text-align: justify;
}


.question_title{
    text-align: center;
}

.question_body{
    /* background-color: red; */
    margin: auto;
    padding: 20px 40px 20px 40px ;
    text-align: justify;

}

.logo_box{
    margin: auto;
}

.question_author{
    /* background-color: red; */
    text-align:right;
}

.comment_list {
    background-color:rgba(230, 169, 15, 0.599);
    margin:0px 100px 100px 100px;
    border: None;
    padding: 20px 20px 20px 20px;
}

.comment_list_title{
    text-align: center;
}

.author_by{
    text-align: right;
}

.post_your_comment{
    /* background-color: red; */
    padding: 10px 40px 0px 40px;
}
.post_your_comment textarea{
    /* background-color: red; */
    width: 100%;
}
.comment_title{
    text-align: center;
    /* padding: 10px 40px 10px 40px; */
    /* background-color: pink; */
}