.main_section_body{
  padding: 40px 0 40px 0; 
  background-color:#261e1e4a;
}

.top-bar{
  background-color:rgba(0, 0, 0, 0.8);
  display:block;
  padding-top:20px;
  padding-bottom: 20px;
}


.search_bar{
  margin-left: 100px;
}

.top-bar a{
  color:rgba(250, 250, 250, 0.961);
  font-family: Lato;
}

.nav-bar{
  background-color:rgba(0, 0, 0, 0.8);
  padding-bottom: 50px;

}


.sticky-footer{
  position:relative;
	bottom:0;
  padding:20px;
  margin-left:0px;
	background-color:black;
  color: #eeeeeeb0;
}


.signupform label{

width:120px;

}

.middle{
min-height:500px;
background-color:#f4f4f4;
}


.dashboard{

background-color:#607d8b5e;
height:500px;
font-size:large;
padding:10px;
}

.sidemenu {list-style-type:none;
padding:0}
.sidemenu a{
color:black;
text-decoration:none;
padding:10px;
border:1px solid black;
margin-bottom:10px;
display:block;
text-align:center;

}
.sidemenu a:hover{
color:white;

}
.depname{
padding:2px;
border:1px solid;
text-align:center;
min-height:150px;
}

.box{
border-radius:10px;
background-color:white;
border:2px solid;
text-align:center;
font-size:24px;
margin-left:30px;
margin-top:30px;
padding:10px;

}
.title{
border-radius:10px;
background-color:gray;
border:2px solid;
text-align:center;
font-size:24px;
margin-left:30px;
margin-top:30px;
padding:10px;
}


.myDiv {
text-align:center;
min-height:150px;
}


.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 5px;
  cursor: pointer;
}

.img {
  border-radius: 50%;
  width:50px
}



.first_section{
  background-color:	rgba(230, 169, 15, 0.599); 
  text-align: justify;
  border-radius: 20px;
  padding: 20px 20px 20px 20px;
  margin: 40px 0px 40px 40px; 

}

.centre_section{
  background-color: black;
  text-align: justify;
}

.second_section{
  background-color:	rgba(230, 169, 15, 0.599); 
  border-radius: 20px;
  text-align: justify;
  padding: 20px 20px 20px 20px;
  margin: 40px 0px 40px 0px; 

}

.navbar-nav{
  /* background-color: red; */
  padding-left: 100px;
  height:60px;
  border-radius:20px;
	width:100%;
}

.navbar-nav ul
{
	/*
	height:60px;
	background-color:red;
	border:red solid 1px;
	border-radius:20px;   */      /* uncomment these to see nav ul */
	
	height:60px;
	list-style:none;		/* TO REMOVE BULLETIN SYMBOL FROM FRONT OF THE LIST ITEMS   */
	margin:0px 0px 0px 230px;
	
}

.navbar-nav li
{
	border:white solid 0px;
	border-radius:15px;
	/* background-color:rgba(90,49,80,0.2); */
	background-color:black;
	height:60px;
	float:left;
	padding:18px;
	cursor:pointer;
}


.navbar-nav a
{	
	color:rgba(216, 155, 0, 0.898);
	font-weight:bold;
	/* font-style:italic; */
	font-family:Lato;
	font-size:18px;
	font-weight:90;
	display:block;
	text-decoration:none;  	/* TO REMOVE THE UNDERLINE UNDER THE ANCHOR <a> TAB */
}
