{% extends 'base.html'%}
{% block content %}


<style>
</style>
<head>
    <link type="text/css" href="/assets/css/article_detail.css" rel="stylesheet"/>
</head>

<br>
<div class="container-fluid">
    <div class="depname">
        <div class ='article_title'>
            <h2>
                {{ article.title }}
            </h2>
        </div>
        <div>
            <p>
                {{ article.body }}
            </p>
        </div>
        <div>
            <div class ='article_by'>
                <h5>
                    By: {{ article.author }}
                    on {{ article.created_at|date:"j F, Y" }}
                </h5>
            </div>
        </div>
        <div class="logo_box">
            <form method="POST" action="/articles/question_detail/{{article.id}}/upvote_question/">
                {% csrf_token %}
                <h2 class="count">{{upvote}}</h2>
                <button type="submit"> <img src="/assets/images/thumb__up.jpeg" height ="70" width="70" /></button>
            </form>
        </div>
    </div>
</div>


<script>
    function call_comment_api(user_id)
    {
        var user_id = user_id;
        if(!user_id)
        {
            alert("login required");
            location.href('/login')
        }
    }



</script>
<br>

<div class="container-fluid">
    <div class = "post_your_comment">
        <form method="POST" action="/articles/question_detail/{{article.id}}/post_comment/">
            {% csrf_token %}
            <!-- {{ comment_form.as_p }} -->
            <h3 class = "comment_title">Post your Comment here:</h3> <br>
            <textarea width=200px name="comment" required id="comment" placeholder="Comment for the content"></textarea><br>
            <b><input type="submit" name="post_comment" onclick="call_comment_api('{{request.session.user_id}}');"
                   value="POST"></b>

        </form>

    </div>

    <h2 class ='comment_list_title'>COMMENTS</h2>
    <div class="comment_list">
        {% for comment in comments %}

        <div>
            <hr>
            {% if comment.comment|wordcount <= 30 %}
            <h4>{{ comment.comment }}</h4>
            {% else %}
            <h4>{{ comment.comment|truncatewords:30 }}</h4>
            {% endif %}
        </div>
        <div class="author_by">By: {{ comment.author.email }}
            on {{ comment.created_at|date:"j F, Y" }}
        </div>
        <div class="logo_box">
            <form method="POST" action="/question_detail/{{article.id}}/upvote_comment/{{comment.id}}/">
                {% csrf_token %}
                <h4>{{comment.upvote}}</h4>
                <button type="submit"> <img src="/assets/images/thumb__up.jpeg" height ="50" width="50" /></button>
            </form>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock content %}