{% extends 'base.html'%}
{% block content %}
<ol reversed>
{%  for user in users  %}
<br>
<head>
    <link type="text/css" href="/assets/css/user_list.css" rel="stylesheet"/>
</head>

<div class="container-fluid">
    <div class="depname" style="background-color:rgba(230, 169, 15, 0.599);">
        <div class="row">
            <div class="col-sm-3">
                <img src="/media/{{user.pic}}" alt="Trulli" width="200" height="200">
            </div>
            <div class="col-sm-3">
                <h4> Name : {{user.name}} </h4>
                <h4>Email : {{user.email}}</h4>
                <h4> Active Since : {{user.date_joined|date:"j F, Y" }}</h4>
                <h4>Score : {{user.score}}</h4>
            </div>
            <div class="col-sm-6 href">
                <h4>Contribution </h4>
                <ul>
                {% for article in user.articles %}
                    <li><a href="{% url 'articles:articles_detail' pk=article.pk %}">{{ article.title }}</a></li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% endfor %}
</ol>

{% endblock content %}
